{% load staticfiles %}
<html>
<head>
    <title>HMator | Hiten Pratap Singh</title>
    <link rel="stylesheet" type="text/css" href="{% static 'mainApp/bootstrap.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'mainApp/justified-nav.css' %}"/>
       <link rel="stylesheet" type="text/css" href="{% static 'mainApp/stream.css' %}"/>
  <script type="text/javascript" src="{% static 'mainApp/jquery-2.0.3.min.js' %}"></script>
<script type="text/javascript" src="{% static 'mainApp/bootstrap.js' %}"></script>
</head>
<body>
<div class="container">

    <div class="masthead">
        <h3 class="text-muted">HMator</h3>
        <ul class="nav nav-justified">
            <li class="active"><a href="javascript:void(0)">Home</a></li>
            <li><a href="javascript:void(0)">Projects</a></li>
            <li><a href="javascript:void(0)">Services</a></li>
            <li><a href="javascript:void(0)">Downloads</a></li>
            <li><a href="javascript:void(0)">About</a></li>
            <li><a href="javascript:void(0)">Contact</a></li>
        </ul>
    </div>


{% block flashMessages %}{% endblock %}
    <!-- Jumbotron -->
    {% block statusForm %}

    {% endblock %}

    <!-- Example row of columns -->
    <div class="row">
        <div class="col-lg-4">

            {% block FBStatuses %}{% endblock %}
        </div>
        <div class="col-lg-4">
            <p><a class="btn btn-primary" href="javascript:void(0)" role="button">Connect to Twitter</a></p>
            {% block TwitterStatuses %}{% endblock %}
        </div>
        <div class="col-lg-4">
            <p><a class="btn btn-primary" href="javascript:void(0)" role="button">Connect to Google+</a></p>
            {% block GooglePlusStatuses %}{% endblock %}
        </div>
    </div>

    <!-- Site footer -->
    <div class="footer">
        <p>&copy; HMator 2014</p>
    </div>


</div>
</body>
</html>

